version: "3.9"
services:
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - 3000:3000
    restart: always
    volumes:
      - /opt/grafana/logs:/var/log/grafana
      - /opt/grafana/grafana.ini:/etc/grafana/grafana.ini
      - /opt/grafana/data:/var/lib/grafana
      - /opt/grafana/provisioning:conf/provisioning

  web:
    build: web_app/.
    ports:
      - "80:8000"
    restart: always
    environment:
      NODE_ENV: ${NODE_ENV}
      PORT: 8000