version: "3.9"
services:
  ros2-nats-bridge:
    build:
          context: ./carma_vehicle_bridge
          dockerfile: Dockerfile
    image: usdot-fhwa-stol/carma_vehicle_bridge
    container_name: carma_vehicle_bridge
    network_mode: host
    entrypoint: /ws/ros_entrypoint.sh