version: "3.3"
services:
  ros2-nats-bridge:
    build:
          context: ./carma_vehicle_bridge
          dockerfile: Dockerfile
    image: usdot-fhwa-stol/carma_vehicle_bridge
    container_name: carma_vehicle_bridge
    network_mode: host
    entrypoint: /ws/ros_entrypoint.sh
  
  streets-nats-bridge:
    build:
          context: ./carma_street_bridge
          dockerfile: Dockerfile
    image: usdot-fhwa-stol/carma_street_bridge
    container_name: carma_street_bridge
    network_mode: host
    ports:
          - "9092:9092"
    volumes:
           - ./logs:/var/logs