version: "3"
services:

  influxdb:
    image:  influxdb:${INFLUXDB_DEV_TAG}
    container_name: influxdb
    ports:
      - '8086:8086'
    restart: always
    logging:
      options:
        max-size: "10m"
        max-file: "1"
    environment:
      - DOCKER_INFLUXDB_INIT_CLI_CONFIG_NAME=${DOCKER_INFLUXDB_INIT_CLI_CONFIG_NAME}
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=${INFLUXDB_DEV_INIT_USERNAME}
      - DOCKER_INFLUXDB_INIT_PASSWORD=${INFLUXDB_DEV_INIT_PASSWORD}
      - DOCKER_INFLUXDB_INIT_BUCKET=${INFLUXDB_DEV_INIT_BUCKET}
      - DOCKER_INFLUXDB_INIT_ORG=${INFLUXDB_DEV_ORG}
      - DOCKER_INFLUXDB_INIT_RETENTION=${INFLUXDB_DEV_RETENTION}
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=${DOCKER_INFLUXDB_INIT_ADMIN_TOKEN}
    volumes:
      - /opt/influxdb2/data:/var/lib/influxdb2 # data directory
      - /opt/influxdb2/:/etc/influxdb2 # config directory

  mysqldb:
    image: mysql:5.7
    restart: always
    container_name: mysqldb
    logging:
      options:
        max-size: "10m"
        max-file: "1"
    environment:
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD_FILE=/run/secrets/mysql_password
      - MYSQL_ROOT_PASSWORD_FILE=/run/secrets/mysql_root_password
    ports:
      - '3307:3306'  # Mapping required for CAVe-in-a-box deployment where port 3306 is used by v2xhub
    secrets:
      - mysql_password
      - mysql_root_password
    volumes:
      - mysql-datavolume:/var/lib/mysql

  nats:
    image: 'nats:2.7.3-alpine3.15'
    restart: always
    container_name: nats
    logging:
      options:
        max-size: "2g"
        max-file: "1"
    network_mode: host

  grafana:
      build:
        context: "./telematic_apps/grafana"
      image: usdotfhwastoldev/telematic_grafana:develop
      restart: always
      container_name: grafana
      logging:
        options:
          max-size: "10m"
          max-file: "1"
      network_mode: host
      depends_on:
        - mysqldb

      volumes:
        - /opt/grafana/logs:/var/log/grafana
        - ./telematic_apps/grafana/grafana.ini:/etc/grafana/grafana.ini
        - /opt/grafana/data:/var/lib/grafana
        - /opt/grafana/provisioning:/home/grafana/conf/provisioning
        - /home/ubuntu/.aws/credentials:/usr/share/grafana/.aws/credentials
      user: "472" #grafana user id

  web_server:
      build:
        context: "./telematic_apps/web_app/server"
        dockerfile: "Dockerfile"
      image: usdotfhwastoldev/telematic_web_server:develop
      restart: always
      container_name: web_server
      logging:
        options:
          max-size: "10m"
          max-file: "1"
      network_mode: host
      depends_on:
        - mysqldb
        - grafana
      environment:
        - NODE_ENV=dev.comelopment
        - CHOKIDAR_USEPOLLING=true
        - ALLOW_CLIENT_URL=http://local.cav-telematics.com:8888
        - GRAFANA_HTPASSWORD=/opt/apache2/grafana_htpasswd
        - SESSION_TIMEOUT=3600
        - SECRET=my_secret_telematic_ui
        # Server port
        - PORT=9010
        # MYSQL DB credentials. Need to be replaced with actual MYSQL DB during deployment
        - DB_HOST=127.0.0.1
        - DB_PORT=3307
        - DB_USER=telematic
        - DB_PASSWORD=telematic
        - GRAFANA_DB=wfd_grafana
        # File upload service settings
        - UPLOAD_DESTINATION=host
        - UPLOAD_DESTINATION_PATH=/opt/telematics/upload
        - AWS_ACCESS_KEY_ID=
        - AWS_SECRET_KEY=
        - S3_BUCKET=
        - S3_REGION=us-east-2
        - UPLOAD_HTTP_PORT=9011
        - UPLOAD_TIME_OUT=3600000 # Milliseconds
        - UPLOAD_MAX_FILE_SIZE=21474836480 #20 GB
        - CONCURRENT_QUEUE_SIZE=5
        - PART_SIZE=10485760
        - NATS_SERVERS=localhost:4222
        - FILE_PROCESSING_SUBJECT=ui.file.processing      
      command: bash -c 'wait-for-it localhost:3307 && wait-for-it localhost:3000 && /app/service.sh'
      volumes:
        - /opt/apache2/grafana_htpasswd:/opt/apache2/grafana_htpasswd
        - /opt/telematics/upload:/opt/telematics/upload

  web_client:
    build:
      context: "./telematic_apps/web_app/client"
    image: usdotfhwastoldev/telematic_web_client:develop
    restart: always
    container_name: web_client
    logging:
      options:
        max-size: "10m"
        max-file: "1"
    network_mode: host
    depends_on:
      - web_server

  apache2:
    build:
      context: "./telematic_apps/apache2"
      dockerfile: "./local.Dockerfile"
    image: usdotfhwastoldev/telematic_local_apache2:develop
    restart: always
    container_name: apache2
    logging:
      options:
        max-size: "10m"
        max-file: "1"
    network_mode: host
    environment:
      - CLIENT_LOCAL_URL=http://127.0.0.1:8082/
      - GRAFANA_LOCAL_URL=http://127.0.0.1:3000/
      - TOPICSERVICE_LOCAL_URL=http://127.0.0.1:8080/
      - UISERVICE_LOCAL_URL=http://127.0.0.1:9010/
      - UISERVICE_LOCAL_UPLOAD_URL=http://127.0.0.1:9011/
    depends_on:
      - grafana
      - web_client
      - web_server
    volumes:
      - /opt/apache2/grafana_htpasswd:/etc/apache2/grafana_htpasswd

  messaging_server:
    build:
      context: "./telematic_cloud_messaging"
      dockerfile: "local.Dockerfile"
    container_name: messaging_server
    image: usdotfhwastoldev/telematic_local_messaging:develop
    depends_on:
      - nats
      - mysqldb
      - influxdb
    restart: always
    logging:
      options:
        max-size: "2g"
        max-file: "1"
    network_mode: host
    command: bash -c 'wait-for-it localhost:3307 && wait-for-it localhost:4222 && wait-for-it localhost:8086 && java -jar /telematic_cloud_messaging/app.jar'

  rosbag2_processing_service:
    build:
          context: ./telematic_historical_data_processing
          dockerfile: Dockerfile
          network: host
    image: usdotfhwastoldev/rosbag2_processing_service:develop
    container_name: rosbag2_processing_service
    image: usdotfhwastoldev/telematic_historical_data_processing:develop
    restart: always
    depends_on:
      - nats
      - mysqldb
      - influxdb
    logging:
      options:
        max-size: "2g"
        max-file: "1"
    container_name: rosbag2_processing_service
    network_mode: host
    volumes:
           - /opt/telematics/logs:/opt/telematics/logs
           - /opt/telematics/upload:/opt/telematics/upload
    environment:
    - TOPIC_EXCLUSION_LIST=${ROSBAG2_EXCLUSION_LIST}
    - NATS_SERVER_IP_PORT=nats://localhost:4222
    - LOG_LEVEL=debug
    - LOG_NAME=rosbag2_processing_service
    - LOG_PATH=/opt/telematics/logs
    - LOG_ROTATION_SIZE_BYTES=2147483648
    - LOG_HANDLER_TYPE=console
    - INFLUX_BUCKET=${INFLUXDB_DEV_INIT_BUCKET}
    - INFLUX_ORG=my-org
    - INFLUX_TOKEN=my-super-secret-auth-token
    - INFLUX_URL=127.0.0.1:8086
    - MYSQL_HOST=${DB_HOST} #Add host IP where mysql database is hosted
    - MYSQL_PORT=${DB_PORT}
    - MYSQL_DB=wfd_grafana # Name of Mysql databse
    - MYSQL_USER=${DB_USER} # Login credentials for mysql database, User
    - MYSQL_PASSWORD=${DB_PASSWORD} # Login credentials for mysql database, Password
    - MYSQL_TABLE=file_infos
    - UPLOAD_DESTINATION_PATH=${UPLOAD_DESTINATION_PATH} # For cloud deployment:This is the directory S3 bucket is mounted
    - TO_STR_FIELDS=[]
    - IGNORE_FIELDS=[]
    - FILE_PROCESSING_SUBJECT=ui.file.*
    - ACCEPTED_FILE_EXTENSIONS=[".mcap"]
    command: bash -c 'source /ws/install/setup.bash && wait-for-it ${DB_HOST}:${DB_PORT} -- ros2 run rosbag2_processing_service main'

secrets:
  mysql_password:
      file: ./secrets/mysql_password.txt
  mysql_root_password:
      file: ./secrets/mysql_root_password.txt
volumes:
  mysql-datavolume:
