version: "3"
services:
  nats:
    image: 'nats:2.7.3-alpine3.15'
    restart: always
    network_mode: host

  telematic_messaging_server:
    build:
      context: "./telematic_cloud_messaging"
    depends_on:
      - nats
    restart: always
    network_mode: host
    environment:
      - NATS_URI=nats://ec2-44-206-13-7.compute-1.amazonaws.com:4222

  telematic_web_server:
    build:
      context: "./telematic_apps/web_app/server"
    restart: always
    network_mode: host
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
      - ALLOW_CLIENT_URL=http://ec2-44-206-13-7.compute-1.amazonaws.com
      # Server port
      - PORT=9010
      # MYSQL DB credentials. Need to be replaced with actual MYSQL DB during deployment
      - DB_HOST=localhost
      - DB_USER=root
      - DB_PASSWORD=root
      - GRAFANA_DB=wfd_grafana

  telematic_web_client:
    build:
      context: "./telematic_apps/web_app/client"
    restart: always
    network_mode: host
    depends_on:
      - telematic_messaging_server
      - telematic_web_server
    environment:
      # Server port
      - PORT=80
      - REACT_APP_NODE_SERVER_URI=http://ec2-44-206-13-7.compute-1.amazonaws.com:9010
      - REACT_APP_MESSAGING_SERVER_URI=http://ec2-44-206-13-7.compute-1.amazonaws.com:8080
      - REACT_APP_GRAFANA_DEFAULT_DASHBOARD_EMBED_URL=http://ec2-44-206-13-7.compute-1.amazonaws.com:9000/d/_HrLXUI4k/default-dashboard-uc3?orgId=1&from=now-10d&to=now&kiosk&theme=light
  
  grafana:
    build:
      context: "./telematic_apps/grafana"
    restart: always
    # network_mode: host
    volumes:
      - /opt/grafana/logs:/var/log/grafana
      - /opt/grafana/grafana.ini:/etc/grafana/grafana.ini
      - /opt/grafana/data:/var/lib/grafana
      - /opt/grafana/provisioning:/home/grafana/conf/provisioning
      - /home/ubuntu/.aws/credentials:/usr/share/grafana/.aws/credentials
    user: "472" #grafana user id